{% load static %}
<div class="card w-100" style="width: 18rem;">
    <div class="card-body">
        <div class="row">
            <div class="col-2 d-flex flex-column gap-2 align-items-center">
                <img src="./../static/img/JassyePinkman.jpeg" alt="Avatar" style="width: 100px; height: 100px;">
                <input type="number" value="5" class="mt-auto" style="width: 100px;">
            </div>
            <div class="col-10 d-flex flex-column gap-2">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="form-check mt-auto">
                    <input class="form-check-input" type="checkbox" id="answer1">
                    <label class="form-check-label" for="answer1">
                        Correct!
                    </label>
                </div>
                <div class="mt-auto">
                    <button id="like" class="btn btn-success btn-sm">👍</button>
                    <button id="dislike" class="btn btn-danger btn-sm">👎</button>
                </div>
            </div>
        </div>
    </div>
</div>