{% extends 'layouts/base-no-avatar.html' %}
{% load static %}

{% block header %}
    <h1>Log In</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <form class="d-flex flex-column gap-3">
            <div id="error-message" class="alert alert-danger" role="alert">
                Incorrect login or password
            </div>
            <div class="row">
                <div class="col-2">
                    <label for="questionTitle" class="form-label">Login</label>
                </div>
                <div class="col-10">
                    <input type="text" class="form-control" id="Login" required>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label for="questionTitle" class="form-label">Password</label>
                </div>
                <div class="col-10">
                    <input type="password" class="form-control" id="Password" required>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Log in!</button>

            <a href="{% url 'signup' %}">create new account</a>
        </form>
    </div>
{% endblock %}