{% extends 'layouts/base-no-avatar.html' %}
{% load static %}

{% block header %}
    <h1>Registration</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <form class="d-flex flex-column gap-3">
            <div id="error-message" class="alert alert-danger" role="alert">
                Incorrect login or password
            </div>
            <div class="row">
                <div class="col-2">
                    <label for="questionTitle" class="form-label">Login</label>
                </div>
                <div class="col-10">
                    <input type="text" class="form-control" id="questionTitle" required>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label for="questionTitle" class="form-label">Email</label>
                </div>
                <div class="col-10">
                    <input type="text" class="form-control" id="Email" required>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label for="questionTitle" class="form-label">NickName</label>
                </div>
                <div class="col-10">
                    <input type="text" class="form-control" id="NickName" required>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label for="questionTitle" class="form-label">Password</label>
                </div>
                <div class="col-10">
                    <input type="password" class="form-control" id="Password" required>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label for="questionTitle" class="form-label">Repeat password</label>
                </div>
                <div class="col-10">
                    <input type="password" class="form-control" id="Password" required>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label for="avatar" class="form-label">Upload avatar</label>
                </div>
                <div class="col-10">
                    <input type="file" class="form-control" id="avatar" accept="image/*" required>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Register!</button>
        </form>
    </div>
{% endblock %}